/*.page-switch-leave-active,*/
.page-switch-enter-active{transition: opacity .3s linear;}

.page-switch-enter-active{opacity: 0;}
.page-switch-enter-to{opacity: 1;}

.preload * {
	transition: none !important;
}